:host {
  display: block;

  .tabs {
    display: flex;
    border: 2px solid #000;
    background: #fff;

    > div {
      padding: 10px 30px;
      cursor: pointer;
      font-weight: bold;
      font-size: 1.2rem;

      &[data-active] {
        background: #000;
        color: #fff;
      }
    }
  }
}
