:host {
  display: block;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
 
  textarea {
    width: 100%;
    height: 100%;
    border: none;
    resize: none;
    padding: 20px;
    box-sizing: border-box;
    font-size: 1.2rem;
    outline: none;
  }
 
  textarea.white { background: #ffffff; }
  textarea.red   { background: #f2c6c6; }
  textarea.blue  { background: #d6e2f5; }
  textarea.green { background: #dbead4; }
}