:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  gap: 16px;

  note-detail-input {
    flex-grow: 1;
    overflow-y: auto;
    border: 2px solid #000;
  }

  note-detail-option {
    height: 80px;
    flex-shrink: 0;
    box-sizing: border-box;
  }
}
