:host {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
  width: 100%;
  padding: 20px !important;
  background-color: #f0f0f0;
  gap: 20px;

  type-switch {
    width: fit-content;
    margin-inline: auto;
    align-items: center;
  }

  > div {
    display: grid;
    width: 100%;
    flex: 1;

    grid-template-columns: 2fr 3fr;
    gap: 20px;
  }
}
