:host {
  display: block;
  aspect-ratio: 3 / 4;
  border: 2px solid #000;
  position: relative;
  background: #fff;
  cursor: pointer;

  &:hover {
    background: #f9f9f9;
  }

  .delete-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    line-height: 1;
  }
}

/* メモモードのときのスタイル */
:host:has(.content[data-note-type="MEMO"]) {
  /* 分かりやすいようにとりあえず赤枠にしています */
  border-color: red;
}

/* TODOモードのときのスタイル */
:host:has(.content[data-note-type="TODO"]) {
  /* 分かりやすいようにとりあえず青枠にしています */
  border-color: blue;
}
