:host {
  display: block;
  aspect-ratio: 3 / 4;
  outline: 2px solid #000;
  position: relative;
  background: #fff;
  cursor: pointer;
  max-height: 200px;
  overflow: hidden;
  font-size: 0.8rem;

  &:hover {
    background: #f9f9f9;
  }

  .delete-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    line-height: 1;
  }
}

/* 選択されているときのスタイル */
:host([selected]) {
  outline-width: 4px;
}

.content {
  padding: 10px;
  height: 100%;
  font-family: monospace;
  box-sizing: border-box;
}

.todo-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.todo-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.25rem;
}
